<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" 
    tabindex="-1" id="offcanvasMenue" aria-labelledby="offcanvasMenueLabel">
    <div class="offcanvas-header pb-0">
        <h4 class="offcanvas-title" id="offcanvasMenueLabel">More Apps</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'pp1' %}" class="nav-link {% if request.path == pp1_url %}active" aria-current="page{% endif %}">pp1</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'pp2' %}" class="nav-link {% if request.path == pp2_url %}active" aria-current="page{% endif %}">pp2</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'pp3' %}" class="nav-link {% if request.path == pp3_url %}active" aria-current="page{% endif %}">pp3</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'pp4' %}" class="nav-link {% if request.path == pp4_url %}active" aria-current="page{% endif %}">pp4</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">pp5 Ecommerce</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">pp5 Frontend</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">pp5 Backend</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'peer_review' %}" class="nav-link {% if request.path == pp4_url %}active" aria-current="page{% endif %}">Peer Reviews</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">More apps</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">More apps</a>
            </li>
        </ul>
    </div>
</div>